- @service_links.each do |sl|
  - if sl.href.present? && sl.label.present?
    a.aui-button href=sl.href target='_parent' style=("background-color: #{sl.color}" if sl.color.present?)
      = sl.label
